autocommand==2.2.2
backports.tarfile==1.2.0
certifi==2025.1.31
charset-normalizer==3.4.1
cmake==3.31.6
coloredlogs==15.0.1
contourpy==1.1.1
cycler==0.12.1
einops==0.8.1
filelock==3.16.1
flatbuffers==25.2.10
fonttools==4.56.0
fsspec==2025.3.0
Glymur @ file:///home/conda/feedstock_root/build_artifacts/glymur_1724155408550/work
huggingface-hub==0.29.2
humanfriendly==10.0
idna==3.10
importlib_metadata==8.0.0
importlib_resources==6.4.5
inflect==7.3.1
jaraco.collections==5.1.0
jaraco.context==5.3.0
jaraco.functools==4.0.1
jaraco.text==3.12.1
Jinja2==3.1.6
joblib==1.4.2
kiwisolver==1.4.7
lit==18.1.8
lxml @ file:///home/conda/feedstock_root/build_artifacts/lxml_1704590380481/work
MarkupSafe==2.1.5
matplotlib==3.7.5
more-itertools==10.3.0
mpmath==1.3.0
networkx==3.1
numpy @ file:///home/conda/feedstock_root/build_artifacts/numpy_1651020413938/work
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
onnx==1.14.0
onnxruntime==1.15.1
opencv-python==4.11.0.86
packaging==24.2
pandas==2.0.3
pillow==10.4.0
platformdirs==4.2.2
protobuf==5.29.3
psutil==7.0.0
pycocotools==2.0.7
pyparsing==3.1.4
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.2
regex==2024.11.6
requests==2.32.3
safetensors==0.5.3
scikit-learn==1.3.2
scipy==1.10.1
seaborn==0.13.2
six==1.17.0
sympy==1.13.3
termcolor==2.4.0
thop==0.1.1
threadpoolctl==3.5.0
tokenizers==0.20.3
tomli==2.0.1
torch==2.0.1
torch-dct==0.1.6
torchvision==0.15.2
tqdm==4.67.1
transformers==4.46.3
triton==2.0.0
typeguard==4.3.0
typing_extensions==4.12.2
tzdata==2025.2
urllib3==2.2.3
zipp==3.20.2